body{
    background-color: #DEF7FF;
    background-repeat: no-repeat;
    background-size: cover;
}



p{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.button.yellow {
	background:#53D4FF;
    height: 90px;
   
}
.button.centro {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.size.azul{
    font-size: 25px;
    font-weight:  Text,Garamond,Times,serif; 
}

/*Boton Azul*/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
/*Boton Azul*/

img.izquierda {
    float: right;
    margin-right: -1150px;
  }
svg {
    margin: 0 auto;
}

line {
    stroke: black;
    stroke-width: 4;
}

#door1 {
    transform-origin: 0% 100%;
}

#door2 {
    transform-origin: 100% 100%;
}

.hide {
    visibility: hidden;
}

